.swiper-pagination-bullet {
  background: #d7007b !important;
  opacity: 0.3 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 5px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.app-home-slider .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
}
